<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-6adbab7b-ce10-4442-83d2-ca96e6bf8c8d;AttachDbFilename=|DataDirectory|\aspnet-Website-6adbab7b-ce10-4442-83d2-ca96e6bf8c8d.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="ChinookDB"
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>